.grilla {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.contenedor {
    display: flex;
}

.cuadro {
    height: 200px;
    width: 200px;
    border: solid rgb(4, 0, 255) 1px;
}

.equis {
    background-image: url("imagenes/x.jpg");
    background-size: cover;
}

.circulo {
    background-image: url("imagenes/circulo.jpg");
    background-size: cover;
}